* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .header {
    background-color: #353a40;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  body {

  }
  
  /* --------------------Estilos menu de navegación---------------------- */
  .nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: #353a40;
  }
  
  .nav-link {
    color: #8b9497;
    text-decoration: none;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 15px;
    background-color: #353a40;
  }
  
  .nav-menu-item {
    font-size: 16px;
    margin: 0px;
    line-height: 3em;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 33px 30px;
    border-radius: 8px;
  }
  
  .nav-menu-link:hover {
    background-color: #292828;
    color: cyan;
    transition: 0.5s;
  }
  #conferencia:hover {
    color: cyan;
  }
  #comprar-ticket:hover {
    color: cyan;
  }
  .logo {
    height: 4em;
  }
  
  .brand-name-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;
    margin-left: 100px;
  }
  
  .brand-name {
    color: white;
    font-size: 19px;
  }
  
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 2em;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
  }
  /* --------------------Estilos menu de navegación---------------------- */
  /*-----------------diseño responsive Menu de navegacion----------------*/
  @media (max-width: 1200px) {
    .header {
      background-color: #353a40;
      height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      list-style: none;
      margin-left: 0px;
      background-color: #353a40;
      backdrop-filter: blur(8px);
      position: fixed;
      left: 0px;
      top: 65px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
        border-bottom: solid;
        width: 100vw;
        line-height: 3em;
        padding: 0 2em;
    }
  
    .nav-link {
      color: white;
    }
  
    .nav-menu-link {
      width: 100%;
      display: flex;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  
    .nav-menu-link:hover {
      background: none;
      color: cyan;
    }
    .nav-menu-link_active:active {
      background-color: #292828;
      transition-duration: 10ms;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .logo {
      height: 4em;
    }
  
    .brand-name-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      text-decoration: none;
      margin: 0px;
    }
  
    .brand-name {
      color: white;
      font-size: 16px;
    }
    #ba1 {
      height: 100vh;
      width: 100vw;
    }
  }
  
  @media (min-width: 1170px) {
    #conferencia {
      color: white;
    }
  
    #comprar-ticket {
      color: green;
    }
  }
  
  @media (max-width: 1300px) and (min-width: 1170px) {
    .brand-name-container {
      margin-left: 0;
    }
  }
  /*-----------------diseño responsive Menu de navegacion----------------*/
 
 
  /*-----------------diseño section1--------------------*/

  #ba1{ /* posicionamiento del fondo y estilo del fondo */
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }

  .section1 img{
    filter:brightness(50%)
  }

 .container1{/* posicionamiento del container */
    position: absolute;
    top: 43%;
    right: 10%;
    z-index: 3;
    max-width: 26vw;
  }
/* Estilizado del container */
.container1 p{
  color: white;
  text-align: right;
  margin-top: 1rem;
  transition: all 0.3s ease 0s;
}

.container1 h1{
  color: white;
  text-align: right;
  margin-bottom: 0px;
  transition: all 0.3s ease 0s;
}

.container1 .container-button{
  display: flex;
  justify-content: right;
}

.button{
  margin-left: 0.5rem;
}
.button-text{
  text-decoration: none;
  color: white;
}
#button-1{
  background: none;
  border-color: white;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  box-shadow: 0px 8px 15px;
  transition: all 0.3s ease 0s;
}
#button-1:hover{
  background-color: black;
  transform: translateY(-7px);
}

#button-2{
  background-color:#1b6e2d;
  border: none;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 8px 15px;
  transition: all 0.3s ease 0s;
}

#button-2:hover{
  transform: translateY(-7px);
  background-color: purple;
}


/* Estilizado del container */
/*-----------------diseño section1--------------------*/









